p {
    font-family: 'Mulish', sans-serif;
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.3em;
      color: #fff;

}

b {    font-weight: 400;}

strong {font-weight: 400;}


h1 {
        font-size: 3em;
font-family: 'Arvo', serif;
    text-align: center;
    font-weight: 700;
    padding-top: 0px;
  margin-top: 0px;
  margin-bottom: -10px;
  color: #dee3bc;
    

}

h2 {
    font-family: 'Mulish', sans-serif;
    font-size: 1.6em !important;
      text-align: center !important;
          font-weight: 500;
  color: #c3e5e5;
}

h3 {
    font-size: 1.5em;
          font-family: 'Arvo', Georgia, serif;
    line-height: 1.2em !important;
   /* padding-left: 10px !important;    
  padding-right: 10px !important;*/
  color: #c3e5e5ff;

}

h4 {
    font-size: 1.2em !important;
    font-family: 'Mulish', Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;
    text-align: center !important;
          line-height: 1.4 !important;
   /* padding-left: 7px !important;    
  padding-right: 7px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;*/
 color: #c3e5e5ff;
}

h5 {
    font-size: 1em;
    font-family: 'Arvo', serif;
    text-align: center;
  line-height: 1.3;
      color: #4d4d4d;

}

h6 {
    font-family: 'Mulish', sans-serif;
    font-size: 0.88em;
      text-align: center !important;
          font-weight: 300;
    line-height: 1.2em;
   color: #4d4d4d;
}


a:link {
  color: ;
  background-color: transparent;
  text-decoration: underline;
  
}

a:visited {
  color: #ff3c09;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #ff3c09;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: #ff3c09;
  background-color: transparent;
  text-decoration: underline;
}

html  {text-align: center;
display: block;
background: #beeb9f;}


    }

#main {
    text-align: center;
    display: block;
    background: #068305;
    padding-bottom: 30px;
    padding-top: 30px;
    border-radius: 15px;
    margin-top: -20px;
    border: #929455;
    border-width: 10px;
    border-style: solid;
    box-shadow: 0px 2px 5px grey;
}

@media screen and (min-width: 770px) and (max-width: 2000px) { 
    #main { 
    

    display: block;
    width: 70%;
    margin: auto;
    
    padding-right: 50px;
    padding-left: 50px;
    
    text-align: center;
    
    background: #068305;
    padding-bottom: 30px;
    padding-top: 30px;
    border-radius: 15px;
    margin-top: 20px;
    border: #929455;
    border-width: 10px;
    border-style: solid;
    box-shadow: 0px 2px 5px grey;
    
        
    }}
    
@media screen and (max-width: 770px) { 
    #main { 
    display: block;
    width: 80%;
    padding-right: 15px;
    padding-left: 15px;
    margin: auto;
    
    text-align: center;
    
    background: #068305;
    padding-bottom: 30px;
    padding-top: 30px;
    border-radius: 15px;
    margin-top: 20px;
    border: #929455;
    border-width: 10px;
    border-style: solid;
    box-shadow: 0px 2px 5px grey;}}



#image {
margin:0 auto;
text-align: center;
display: block;
}

.emoji {

margin-top: 50px !important;
margin-bottom: -12px !important;
font-size: 60px;
color: #beeb9f;
}


@media screen and (max-width: 699px) {
#image { width: 100%;}}

@media screen and (min-width: 700px) {
#image { width: 50%;}}

.store-shadow {box-shadow: 0px 0px 16px #483737;}

# disclose {margin: 20px;
}
